*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style: none;

   &.list-inline > li{
       display: inline-block;
   } 
}

a{
    text-decoration: none;
    color: inherit;
}

.flex-box{
    display: flex;
}

h2{
    color: $clr--primary;
    margin: 20px 0;
    font-size: 28px;
}

h5{
    font-size: 22px;
    margin-bottom: 10px;
}

h2,h5{
    text-transform: uppercase;
}

