header{
    text-align: center;

    .logo{
        width: 250px;
        margin: 50px;
    }

    .main-nav{ 
        a{
            display: inline-block;
            padding: 20px 10px;
            margin: 0 10px;
            font-size: 24px;
            font-weight: 600;

            &.active, &.active:hover{
                color: inherit;
                background-color: $clr--secondary;
            }

            &:hover{
                color: $clr--secondary;
            }
            
        }
    }
}